<%= simple_form_for(@event, html: {:class => 'form-horizontal', :multipart => true}) do |f| %>

   <%= f.input :name, label: false, input_html: {:class => 'form-control', placeholder: 'Event Name'} %>
    <br/>

   <%= f.input :location, label: false, input_html: {:class => 'form-control', placeholder: 'Event Location'} %>
    <br/>

   <%= f.input :date, label: false, input_html: {:class => 'form-control', placeholder: 'Date'} %>
    <br/>
   <%= f.input :description, label: false, input_html: {:class => 'form-control', placeholder: 'Description'} %>
    <br/>

    <div style = "text-align: center">
      <%= f.submit "Submit".html_safe, :class => 'btn btn-lg btn-default' %>
    </div>
<% end %>

