<div class = "container">
  <div class = "col-md-12">
    <% @events.each do |event| %>
      <div class = "row">
        <h3><%= event.name %></h3>
        <%= event.description %>
        <%= event.location %>
        <%= event.date %>
      </div>
    <% end %>

    <% if deejay_signed_in? %>
      <p><a href = "<%= new_event_path %>" class = "btn btn-primary" role="button">Add Your Events</a></p>

      <p><a href = "<%= deejay_path(current_deejay) %>" class = "btn btn-primary" role="button" >Back to Your Profile</a>
      </p>
    <% end %>
  </div>
</div>
