<dif class = "container">
  <div class = "col-md-12">
  <div class = "row">
          <div class="caption">
            <%= @deejay.name %>
          </div>

          <div class="caption">
            <%= @deejay.description %>
          </div>

          <div class="caption">
            <%= @deejay.email%>
          </div>

          <div class="caption">
            <%= @deejay.soundcloud %>
          </div>

<div class = "col-md-12">
 <% @deejay_events.each do |event| %>
  <tr>
  <td><%= event.name %></td>
  </tr>
 <% end %>
</div>


          <% if deejay_signed_in? %>
            <%= link_to "Edit Your Profile", edit_deejay_path %>
            <%= link_to "Add Your Events",new_event_path %>
          <% else %>
           <p>Request form</p>
          <% end %>
        </div>
  </div>
</dif>

