<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "Index", root_path %></li>
  <li role="presentation"><%= link_to "Clients", clients_path %></li>
  <li role="presentation"><%= link_to "Posts", posts_path %></li>
  <li role="presentation"><%= link_to "Current Best Practices" %></li>
  <li role="presentation"><%= link_to "Login / Sign-up" %></li>
</ul>