<body class="signup_background">
<div class="container logincontain">
    <div class="row">
        <div class="col-md-12">
          <p class="form-title">
                    Sign Up</p>
            <div class="wrap">
                
         <div class="login">
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>
                   
                <form method="post" id="passwordForm">
                <%= f.input :name, label: false, required: true, input_html: {:class => 'input-lg form-control', placeholder: 'Name', type: 'text'} %><br>
                <%= f.input :email, label: false, required: true, input_html: {:class => 'input-lg form-control', placeholder: 'Email Address', type: 'text'} %><br>


                <%= f.input :password, label: false, required: true, input_html: {:class => 'input-lg form-control', placeholder: 'Password',
            type: 'password', id:'password1'} %>
            <div class="row">
              <div class="col-sm-6">
                <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span><span style="color: #ecf0f1;"> 8 Characters Long</span><br>
                <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <span style="color: #ecf0f1;">One Uppercase Letter</span>
              </div>
              <div class="col-sm-6">
                <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span><span style="color: #ecf0f1;"> One Lowercase Letter</span><br>
                <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span><span style="color: #ecf0f1;"> One Number</span>
              </div>
            </div>
              <br>
            <%= f.input :password_confirmation, label: false, required: true, input_html: {:class => 'input-lg form-control', placeholder: 'Confirm Password', type: 'password', id: 'password2'} %>
              <div class="row">
                <div class="col-sm-6">
                  <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <span style="color: #ecf0f1;">Passwords Match</span>
                </div>
                <div class="col-sm-6">
                </div>
              </div>
                
                <div class="form-actions">
              <%= f.submit "Sign up", :class => 'col-xs-12 btn btn-primary btn-load btn-lg' %>
              
        </div>
                <div class="remember-forgot">
                        <div class="col-md-8 forgot-pass-content">
                           <%= render "devise/shared/links" %>

                        </div>
                    </div>
                </div>
                
                </div>
                <% end %>
            </div>
        </div>
    </div>
</body> 
 <%= javascript_include_tag 'validations' %>