<div class="well">
<%= simple_form_for(@item, html: {:class => 'form-horizontal'} ) do |f| %> 

<%= f.input :name, label: false, input_html: {:class => 'form-control', placeholder: 'Name'} %> 
<br/> 

<%= f.input :description, label: false, input_html: {:class => 'form-control', placeholder: 'Description'} %> 

<br/> 

<%= f.attachment_field :item_image %>

<%= f.input :checked_out%> 

<div style="text-align:center;">
<%= f.submit "Submit".html_safe, :class => 'btn btn-lg btn-default' %> 
</div>
<%end %> 

</div>