<body class="password_reset_background">
<div class="container logincontain ">
    <div class="row">
        <div class="col-md-12">

            <div class="wrap">
                <p class="form-title">
                    Forgot your password?</p>
				 <div class="login">
                    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                    <%= f.error_notification %>
                   
                <%= f.input :email, label: false, required: true, input_html: {:class => 'input-lg form-control', placeholder: 'Email', type: 'text'} %>
                
                <div class="form-actions">
		    			<%= f.button :submit, "Send me reset password instructions", :class => 'col-xs-12 btn btn-primary btn-load btn-lg', :type => 'submit'%>
		    			
				</div>
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-8 forgot-pass-content">
                            <%= render "devise/shared/links" %>

                        </div>
                    </div>
                </div>
                
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>
