<!DOCTYPE html>
<html>
<head>
  <title>Whatcanibuy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'css/pe-icon-7-stroke.css' %>
  <%= stylesheet_link_tag 'css/helper.css' %>


  <%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= javascript_include_tag 'ct-navbar' %>
  <%= javascript_include_tag 'jquery-1.10.2' %>
  <%= javascript_include_tag 'sign_in' %>
  <%= javascript_include_tag 'validations' %>
  <%= csrf_meta_tags %>
 
</head>
<body>
	<div class="container-fluid">
    <p class="notice notice_alert"><%= notice %></p>
    <p class="alert notice_alert"><%= alert %></p>
    <%= yield %>
    <%= render 'welcome/main_nav' %>

    
    
    
	</div>
</body>
</html>
